html,
body,
.app-container,
.root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #333;
}

body, h1, h2, h3, p {
  font-family: 'Unica One', cursive;
  font-size: 4rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1px;
}

.draggable-area {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 44px;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  transition: opacity 2s ease-in-out;
}

.draggable-area-full {
  bottom: 0;
  height: auto;
}

.root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.visor {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.visor.active.visor--neon-sky {
  background: linear-gradient(to bottom, #e96443, #904e95);
}

.visor.active.visor--only-dreams {
  background: linear-gradient(to bottom, #4BC0C8, #C779D0, #FEAC5E);
}

.visor.active.visor--pacific-high {
  background: linear-gradient(to bottom, #FFF94C, #004FF9);
}

.visor.active.visor--twitch {
  background: linear-gradient(to bottom, #2a0845, #6441A5);
}

.visor.active.visor--michiko {
  background: linear-gradient(to bottom, #BFE6BA, #D3959B);
}

.visor.active.visor--monte-carlo {
  background: linear-gradient(to bottom, #7AA1D2, #DBD4B4, #CC95C0);
}

/* window event styles */

/* window on blur */
.ui:not(.toggle-ui-on) {
  opacity: 0;
}

/* window on focus */
.ui.toggle-ui-on {
  opacity: 1;
}

.root:hover .ui {
  opacity: 1;
  transition: none;
}

.ui {
  z-index: 1;
  position: absolute;
  transition: opacity 1s ease-in;
}

.ui h2:first-child {
  margin-top: 1rem;
}

.ui .time,
.ui .percentage {
  font-size: 2rem;
  cursor: default;
}

.ui .time span:not(.smaller-text),
.ui .percentage span:not(.smaller-text) {
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
}

.ui .time .smaller-text,
.ui .percentage .smaller-text {
  margin-left: 0.1rem;
  font-size: 1.125rem;
  color: rgba(255, 255, 255, 0.4);
  text-shadow: 0px 1px 15px rgba(0, 0, 0, 0.4);
}

.config-panel {
  z-index: 110;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
}

.config-panel p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.button {
  margin: 0.5rem 0;
  padding: 0.2rem 0.25rem 0.4rem;
  background: transparent;
  font-size: 1.25rem;;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.35);
  transition: all 0.2s ease-in-out;
  transform: translate3d(0, 0, 0);
}

.button:hover {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.8);
  transform: translateY(-1px);
}

.button:active {
  background: transparent;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.8);
  transform: translateY(1px);
}

.button.rng-bg {
  width: 100%;
}

.button.symbol {
  padding: 0rem 0.25rem 0.6rem;
  max-height: 1rem;
  height: 1rem;
  width: 20%;
}

.label-and-value-group {
  position: relative;
  width: 85px;
  height: 19px;
}

.interval-settings {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.label-and-value-group .label,
.label-and-value-group .label-value {
  position: absolute;
  top: -3px;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 1.25rem;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  cursor: default;
}

.label-and-value-group .label {
  opacity: 1;
  transition-delay: 0.125s;
}

.interval-settings:hover .label-and-value-group .label {
  opacity: 0;
}

.interval-settings:hover .label-and-value-group .label-value {
  opacity: 1;
  transition-delay: 0.25s;
}

.icn-cog,
.icn-unlocked,
.icn-locked,
.icn-minus,
.icn-chevron-left {
  z-index: 100;
  position: relative;
  display: block;
  height: 35px;
  width: 35px;
  background-image: url('icons/cog-sm-@2x.png');
  background-repeat: no-repeat;
  background-size: 17px 17px;
  background-position: center;
  opacity: 0;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transform: translate3d(0, 0, 0);
}

.icn-cog:hover {
  animation: 3s rotate 0.115s infinite alternate;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.icn-unlocked {
  background-image: url('icons/lock-unlocked-sm-@2x.png');
}

.icn-unlocked:hover {
  animation: 2s wiggle 0.115s infinite;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(50deg); }
  20% { transform: rotate(10deg); }
  30% { transform: rotate(30deg); }
  45% { transform: rotate(15deg); }
  46% { transform: rotate(20deg); }
  50% { transform: rotate(10deg); }
  55% { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}

.icn-locked {
  background-image: url('icons/lock-locked-sm-@2x.png');
}

.icn-minus {
  background-image: url('icons/minus-thin-sm-@2x.png');
}

.icn-chevron-left {
  background-image: url('icons/chevron-left-sm-@2x.png');
}

.icn-chevron-left:hover {
  animation: 0.5s slide-left 0.115s infinite alternate;
}

@keyframes slide-left {
  0% { transform: translateX(0px); }
  100% { transform: translateX(-5px); }
}

.volume {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.icn-bullhorn {
  display: inlineblock;
  height: 35px;
  width: 35px;
  background-image: url('icons/bullhorn-sm-@2x.png');
  background-repeat: no-repeat;
  background-position: center 13px;
  background-size: 20px;
  opacity: 0.6;
}

.icn-bullhorn:hover {
  background-image: url('icons/bullhorn-sm-@2x.png');
  background-repeat: no-repeat;
  background-position: center 13px;
  background-size: 20px;
}

.bullhorn-slider {
  width: 65%;
}

.icn-cog.toggle-ui-on,
.icn-unlocked.toggle-ui-on,
.icn-locked.toggle-ui-on {
  opacity: 0.2;
  transition: 5s opacity 1.25s ease-in;
}

footer {
  z-index: 110;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 44px;
}

footer div {
  margin: 0 0.25rem;
}

footer:hover .icn-cog,
footer:hover .icn-locked,
footer:hover .icn-unlocked,
footer:hover .icn-chevron-left {
  opacity: 0.4;
  transition: 0.5s opacity 0s ease-in-out;
}

footer:hover .icn-cog:hover,
footer:hover .icn-locked:hover,
footer:hover .icn-unlocked:hover,
footer:hover .icn-chevron-left:hover {
  opacity: 0.8;
}
