{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name dev.core, :imports nil, :requires {fw figwheel.client, figwheel.client figwheel.client, ui.core ui.core}, :uses nil, :require-macros {fw figwheel.client, figwheel.client figwheel.client}, :cljs.analyzer/constants {:seen #{:jsload-callback :websocket-url}, :order [:websocket-url :jsload-callback]}, :doc nil}